name: Github Actions test
run-name: ${{ github.actor }} is testing Github Actions
# Run Manually
on: [workflow_dispatch]
jobs:
  Explore-GitHub-Actions:
    runs-on: macos-12
    steps:
      - name: Test virtual display
        run: |
          python -c 'import tkinter;r=tkinter.Tk();print(r.winfo_screenheight());print(r.winfo_screenwidth());'
      - run: echo "This job's status is ${{ job.status }}."
