name: Github Actions test
run-name: ${{ github.actor }} is testing Github Actions
# just some event that should not happen
on: [delete]
jobs:
  Explore-GitHub-Actions:
    runs-on: windows-latest
    steps:
      - name: Test virtual display
        run: |
          python.exe -c 'import tkinter;r=tkinter.Tk();print(r.winfo_screenheight());print(r.winfo_screenwidth());'
      - run: echo "This job's status is ${{ job.status }}."
