name: Github Actions test
run-name: ${{ github.actor }} is testing Github Actions
# Run Manually
on: [workflow_dispatch]
jobs:
  Explore-GitHub-Actions:
    runs-on: macos-12
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Cache Python venv
        id: cache-venv
        uses: actions/cache@v4
        with:
          path: venv
          key: ${{ runner.os }}-venv
      - name: Create Python venv
        if: steps.cache-venv.outputs.cache-hit != 'true'
        run: |
          # Show python version
          python -V
          echo "no cache"
          # Show pip cache dir
          #pip cache dir
          python -m venv venv
          . venv/bin/activate
          #pip cache dir
          pip install -q --upgrade pip setuptools wheel
          pip install -q -r requirements.txt
          deactivate
      - name: Use Python venv
        run: |
          
          # Activate python virtual environment
          . venv/bin/activate

          # Commands can be given just like in script-file
          # or in Python-console:
          python -c "import event_test
          e=event_test.Editor()
          e.menufont.configure(underline=1)
          e.update_idletasks()
          e.event_generate('<Shift-Left>')
         
          exit()"
          
          # Deactivate python virtual environment
          deactivate
          
      #- run: echo "This job's status is ${{ job.status }}."
